fastapi
uvicorn[standard]
gunicorn

python-dotenv
pydantic
pydantic-settings

sqlalchemy
asyncpg
alembic

python-multipart
aiofiles

openai

pypdf
pymupdf
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu
transformers==4.41.2
sentence-transformers==2.7.0
rank-bm25
faiss-cpu

numpy==1.26.4

loguru

pytest
pytest-asyncio
pytest-mock
httpx
